@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
*, html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.sideNote {
    position: fixed;
    top: 0;
    font-size: small;
    background-color: rgb(0, 128, 0);
    border-radius: 10px;
    padding: 3px 10px;
    color: white;
    width: fit-content;
    opacity: 0.15;
}
body::-webkit-scrollbar {
    display: none;
}
:root {
    --white-purple: rgb(249, 161, 249);
    --float-font-medium: large;
    --dark-purple: rgb(78, 2, 145);
    --light-blue: rgb(76, 76, 227);
    --blue: rgb(60, 60, 221);
}
#landing .notify {
    position: fixed;
    top: 300px;
    right: 0;
}
#landing .notify div {
    background-color: black;
    color: white;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 30px;
    border: 1px solid white;
    transform: translateX(100%);
    margin-top: 5px;
    opacity: 0;
}
#landing .notify div.slideIn {
    animation: slideIn 0.5s forwards;
}
@keyframes slideIn {
    to {
        transform: translateX(-20%);
        opacity: 1;
    }
}
#landing .notify div.slideOut {
    animation: slideOut 1s forwards;
}
@keyframes slideOut {
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}
#landing footer {
    margin-top: 50px;
}
#landing footer h3 {
    padding: 5px 10px;
    text-align: center;
    background-color: purple;
    color: white;
}
#landing footer h3 span {
    color: yellow;
}
#landing .spin_txt {
    text-align: center;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}
#landing .spin_txt img {
    width: 24rem;
}
#landing .spin_bg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 150px;
    z-index: -2;
}
#landing .spin_bg img {
    width: 700px;
}
#landing .wheel {
    text-align: center;
    margin-top: 7rem;
}
#landing .wheel img {
    width: 300px;
}
#landing form {
    width: fit-content;
    margin: auto;
    display: grid;
    gap: 10px;
    background-color: var(--dark-purple);
    border-radius: 10px;
    padding: 5px 15px;
    padding-bottom: 20px;
    color: white;
}
#landing form input {
    padding: 5px;
}
#landing form button {
    width: fit-content;
    margin: auto;
    padding: 7px 25px;
    border-radius: 15px;
    color: white;
    font-weight: bolder;
    border: none;
    background: linear-gradient(yellow, rgb(158, 66, 0));
    box-shadow: 0 2px 5px 3px black;
    cursor: pointer;
    transition: 0.2s;
}
#landing form button:hover {
    color: green;
}
#landing #enter {
    display: none;
}

/* index page styling */
#index main .burger {
    position: fixed;
    display: block;
    z-index: 3;
    left: 7px;
    top: 100px;
    display: grid;
    width: fit-content;
    gap: 5px;
    padding: 5px;
    border-radius: 5px;
    transition: 0.25s;
}
#index .loader {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
}
#index .loader img {
    width: 70px;
}
#index .mainCont {
    display: none;
}
#index main .burger:hover {
    background-color: rgba(255, 255, 255, 0.352);
}
main .burger div {
    border-radius: 3px;
    width: 35px;
    height: 5px;
    background-color: green;
    border: 1px solid white;
}
#index main .menu {
    position: fixed;
    width: 200px;
    z-index: 4;
    left: 0;
    bottom: 0;
    top: 0;
    background: linear-gradient(green, lightgreen);
    padding: 5px;
    transform: translateX(-100%);
    transition: 0.3s;
    overflow-y: auto;
}
/* audio check*/
#index main #audio {
    display: none;
}
#index main #audio ~ div {
    font-size: small;
    background-color: rgba(255, 255, 255, 0.783);
    padding: 20px;
    border-radius: 5px;
    width: fit-content;
    position: fixed;
    top: 460px;
    right: 0;
    display: none;
    transition: 0.25s;
}
#index main #check:checked + label + div {
    transform: translateX(0);
}
#index main .menu .music {
    height: 25px;
    width: 50px;
    background-color: black;
    margin-top: 10px;
    border-radius: 20px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: 0.25s;
}
#index main .menu .music::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 70%;
    background: white;
    border-radius: 50px;
    top: 3.5px;
    left: 5px;
    transition: 0.25s;
}
/* music check */
#index main .menu #switchMusic {
    display: none;
}
#index main .menu #switchMusic:checked + .music::before {
    transform: translateX(100%);
    background: linear-gradient(green, white);
}
#index main .menu .music:hover {
    transform: scale(1.1, 1.1);
}
#index main .menu .music + span {
    display: inline-block;
    padding-top: 10px;
}
#index main .menu .music + span img {
    width: 25px;
    height: 25px;
}
#index main #check {
    display: none;
}
#index main .menu .sep {
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.229);
    margin-top: 30px;
}
#index main .todate {
    margin-top: 10px;
    color: yellowgreen;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
#index main .menu .history {
    margin: auto;
    margin-top: 15px;
    background: yellowgreen;
    height: 300px;
    padding: 5px;
    overflow-y: auto;
}
#index main .menu .history h4 {
    margin-bottom: 5px;
}
#index main .menu table {
    padding: 5px;
    font-size: small;
    width: 100%;
}
main .menu table thead {
    font-weight: bolder;
}
#index main .menu table, #index main .menu table thead, main .menu table thead td, tbody td {
    border: 1px dashed black;
    border-collapse: collapse;
    padding: 5px;
}
#index .audioConfig .miniHeader {
    margin-top: 3px;
    background-color: blue;
    color: white;
    font-size: small;
    font-weight: bold;
    width: fit-content;
    padding: 3px 6px;
}
#index .audioConfig img {
    width: 50px;
    cursor: pointer;
    transition: 0.25s;
}
#index .audioConfig label:hover + #audioNotice {
    display: block;
}
#index .audioConfig img:hover {
    transform: scale(1.1, 1.1);
}
#index main .counter {
    position: fixed;
    left: 55%;
    top: 70px;
    font-size: 15rem;
    font-family: Bangers;
    color: white;
    z-index: 20;
    display: none;
}
#index main .counter.fade {
    animation: fade 4s forwards;
}
@keyframes fade {
    to {
        opacity: 0;
    }
}
#index .resultBg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(5px);
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.258);
    display: none;
}
#index .resultBg .result {
    margin: auto;
    margin-top: 300px;
    width: 200px;
    background: linear-gradient(white, lightgreen);
    padding: 5px;
    padding-bottom: 15px;
    text-align: center;
    border-radius: 8px;
}
#index .resultBg .result .imgs {
    display: flex;
    justify-content: center;
    overflow-x: auto;
}
#index .resultBg .result img {
    width: 120px;
    display: none;
    /* height: 120px; */
}
#index .resultBg .result .freeSpin {
    font-family: Bangers;
    font-size: xx-large;
    transform: rotate(-20deg);
    margin-top: 10px;
    margin-bottom: 20px;
    display: none;
    color: green;
}
#index .resultBg .result h5 {
    color: green;
    margin-bottom: 10px;
}
#index .resultBg .result .again {
    margin: auto;
    background-color: var(--light-blue);
    color: white;
    width: fit-content;
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer;
    transition: 0.25s;
    margin-top: 40px;
}
#index .resultBg .result .again:hover {
    background-color: var(--blue);
}
#index header div {
    margin: auto;
    width: fit-content;
}
#index header img {
    width: 500px;
}
#index main .float {
    display: block;
    position: fixed;
    padding: 5px 10px;
    border: 2px solid var(--white-purple);
    font-size: var(--float-font-medium);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    background: linear-gradient(var(--white-purple), var(--dark-purple));
    right: 20px;
    top: 180px;
    cursor: pointer;
    opacity: 0.85;
    transition: 0.25s;
}
#index main .float:hover {
    opacity: 1;
}
#index main .htp {
    position: absolute;
    width: 200px;
    z-index: 7;
    background: white;
    border-radius: 10px;
    padding: 10px;
    right: 30px;
    top: 35px;
    line-height: 1.5;
    font-size: small;
    display: none;
}
@media(min-width: 1060px) {
    #index main .burger {
        display: none;
    }
    #index main .menu {
        transform: translateX(0);
    }
}
#index main #htp {
    display: none;
}
#index main #htp:checked ~ .htp {
    display: block;
} 
#index main .greet {
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: x-large;
    font-style: italic;
}
#index main .greet + .won {
    font-weight: bold;
}
#index main .greet + .won + div {
    display: flex;
    flex-flow: row wrap;
    font-size: small;
    font-style: italic;
    color: rgba(255, 255, 255, 0.596);
    height: 150px;
    overflow-x: auto;
}
/* #index main .greet + .won + div div {
    display: none;
} */
#index main .greet + .won + div img {
    width: 80px;
    height: 80px;
}
#index main .greet span {
    color: lightgreen;
}
@media(min-width: 620px) {
    #index header img {
        width: 680px;
    }
}
#index main .wheel_img {
    width: fit-content;
    margin: auto;
    margin-top: 70px;
    position: relative;
}

#index main .wheel_img img {
    width: 400px;
}
#index main .wheel_img img.spin {
    animation: spin 0.1s infinite;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
#index main .wheel_img .press {
    position: absolute;
    height: 90px;
    width: 90px;
    border-radius: 100%;
    background-color: rgba(255, 0, 0, 0.692);
    opacity: 0.2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
#index main .wheel_img .press:hover {
    background-color: green;
}
#index main .mount_cont {
    position: fixed;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    z-index: -2;
}
#index main .mount_cont img {
    width: 500px;
    margin-top: -235px;
}
#index main .status {
    margin-top: 30px;
    padding: 5px;
    background-color: var(--dark-purple);
    text-align: center;
}
#index main .status i {
    background: linear-gradient(yellow, rgb(154, 80, 0));
    border: 2px solid yellow;
    padding: 15px 25px;
    border-radius: 20px;
    font-weight: bold;
    font-size: large;
    color: rgb(81, 42, 0);
}