<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-18">
        <meta name="viewport", content="initial-scale=1, width=device-width">
        <meta property="og: title", content="STW">
        <meta property="og: description", content="fun app where users spin a wheel to win nice prices">
        <meta property="og: image" content="/static/images/logo.jpeg">
        <script src="{{ url_for('static', filename='scripts/stw.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/stw.css') }}">
        <title>Spin The Wheel</title>
        <style>
            #landing {
                background: url("{{ url_for('static', filename='images/spin-gb.jpeg') }}");
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }
            #index {
                background: url("{{ url_for('static', filename='images/spin-gb-2.jpeg') }}");
                background-size: 100% 100vh;
                background-repeat: no-repeat;
            }
        </style>
    </head>
    <body id="{{ page_id }}">
        {% block body %}{% endblock %}
    </body>
</html>