{% extends "base.html" %}

{% block body %}

<header>
    <div class="sideNote">Another Masterpiece</div>
    <div><img src="{{ url_for('static', filename='images/spin_txt_2.png') }}" alt="header_txt"></div>
</header>
<main>
    <div class="burger">
        <div></div><div></div><div></div>
    </div>
    <div class="menu">
        <div class="todate"></div>
        <div class="greet">Hello <span>{{ session.get("username") }}</span></div>
        <div class="won">My collection:</div>
        <div>your collection will appear here...</div>
        <div class="history">
            <h4>Spin History</h4>
            <table>
                <thead>
                    <tr>
                        <td>Item</td>
                        <td>Time</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Pen</td>
                        <td>Sat. March 21</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="resultBg">
        <div class="result">
            <h5>Congrats you won a <span class="priceTxt"></span></h5>
            <div class="imgs">
                <img src="{{ url_for('static', filename='gifs/Bike.gif') }}" alt="bike_gif">
                <img src="{{ url_for('static', filename='gifs/Home.gif') }}" alt="Home_img">
                <img src="{{ url_for('static', filename='gifs/pen.gif') }}" alt="Pen_img">
                <img src="{{ url_for('static', filename='gifs/Nike AirMax.gif') }}" alt="Home_img">
            </div>
            <div class="again">Spin Again</div>
        </div>
    </div>
    <input type="checkbox" id="htp">
    <label class="float" for="htp">HOW TO PLAY</label>
    <div class="htp">
        <div>Click the spin button in the middle of the wheel, the wheel spins and a random price is won.</div>
        <div>You get to use 3 trials. Good luck!</div>
    </div>
    <div class="float_right">PRIZES</div>
    <div class="wheel_img">
        <div class="press"></div>
        <img src="{{ url_for('static', filename='images/wheel_2.png') }}" alt="wheel_img">
    </div>
    <div class="mount_cont"><img src="{{ url_for('static', filename='images/spin-mount.png') }}" alt="wheel_mount"></div>
    <div class="status"><i>Collect Your Prize</i></div>
</main>

{% endblock %}